---
//src/components/header.astro
import Nav from "../components/Nav.astro";
import { Icon } from "astro-icon/components";
const siteName = "Taniti Tourism";
---

<header
  class="flex flex-col w-full border-b border-slate-300 bg-white text-emerald-900 shadow-xl backdrop-blur-xl sticky z-50 top-0"
>
  <div
    class="flex justify-between items-center w-full px-4 py-3 gap-4 md:px-6 md:gap-6 lg:px-18 lg:gap-10"
  >
    <a href="/" class="flex items-center">
      <Icon name="tanitiLogo" class="w-auto h-20 object-contain md:h-25 fill-emerald-900">
    </a>

    <div id="nav-menu" class="hidden lg:block">
      <Nav 
        isHeader={true}/>
    </div>

    <button
      id="menu-toggle"
      class="inline-flex justify-center size-nav-btn-control border border-emerald-900 bg-slate-200 text-2xl rounded-sm lg:hidden"
      aria-expanded="false"
      aria-label="Toggle navigation menu"
    >
      <span class="p-1">&equiv;</span>
    </button>
  </div>
</header>

<script>
  const btn = document.querySelector("#menu-toggle");
  const menu = document.querySelector("#nav-menu");

  if (btn && menu) {
    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
      const expanded = btn.getAttribute("aria-expanded") === "true" || false;
      btn.setAttribute("aria-expanded", String(!expanded));
    });

    const navLinks = document.querySelectorAll("#nav-menu a");

    navLinks.forEach((link) => {
      link.addEventListener("click", () => {
        menu.classList.add("hidden");
        btn.setAttribute("aria-expanded", "false");
      });
    });

    document.addEventListener("click", (e) => {
      const target = e.target as Element;
      if (!btn.contains(target) && !menu.contains(target)) {
        menu.classList.add("hidden");
        btn.setAttribute("aria-expanded", "false");
      }
    });
  }
</script>
